#changeColor{
    color: rgb(29, 9, 48);
    background-color: rgb(236, 234, 226); 
    background-image: url('../images/theme.png'); 
    background-size: cover; 
    width: 50px; 
    height: 50px;
    position: absolute;
    right: 50px;
  }
  span{
    position: absolute;
    right: 50px;
  }
  #dark{
      border-radius: 25px;
      
      padding: 20px;
      width: 60%;
   margin: auto;
      height: auto;
      background: black;
      color: white;
  }
  #bright{
      border-radius: 25px;
      background:white;
      padding: 20px;
      width: 60%;
   margin: auto;
      height: auto;
      color: black;
  }
  #wrapper{
   
      border-radius: 35px;
      background:white;
      padding: 20px;
      width: 60%;
   margin: auto;
      height: auto;
      
    }
    #btn{
      position: absolute;
     
    right: 50px;
    }
    #bktop{
     position:relative;
     bottom: 10px;
     float: right;
       width: 20%;
       padding: 15px;
      margin-bottom: 7px;
      text-align: center;
    }
    label {
      font-weight: bolder;
      font-style: oblique;
      font-size: large;
      color: blue;
    }
    #top{
      font-weight: bolder;
        color: crimson;
    }
    a{
      text-decoration: none;
    }
    .row:after{
  content: "";
  display: table;
  clear: both;
    }
    .column{
      float: left;
      width: 33.33%;
    }
    .column1{
      float: left;
      width: 50%;
    }
   .p1{
    text-align: center;
   }
    #main1 {
      display: flex;
      flex-direction: row;
      display: -webkit-flex;
      
    }
    .topr{
  width: 100%;
  align-content: center;
  text-align: center;
  
    }
    .topl{
      width: 100%;
      text-align: center;
      align-content: center;
    }
    .topn{
      width: 100%;
      text-align: center;
    }
    .collapsible {
     
      color: rgb(17, 5, 5);
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border-radius: 5%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }
    
    .active, .collapsible:hover {
      background-color: rgb(35, 15, 122);
      color: white;
    }
    .solink{
      color: blue;
    }
    .content {
      padding: 0 18px;
      display: none;
      overflow-x: auto;
     
    }
    .social{
        background: white;
    }
    #cont{
        text-align: center;
    }
    .profilepic{
      width : 40%;
      height : auto;
      border-radius: 50%;
    }
    table{
      table-layout: fixed;
      width: 100%;
    
      }
      td{
        width: 33.33%;
        padding: 25px;
      margin: 10px;
      }
      tr{
        display: block;
        border-collapse: collapse;
        border-bottom: 2pt solid #474745;
      }
      .comp{
        text-decoration: solid ;
        
      }
      .big{
        color: blue;
        
      }
      .simg{
        width: 60px;
       height: 70px;
      }
      .sing{
        width: 30px;
       height: auto
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
  
      *{
        box-sizing: border-box;
    }
    .menu{
        float:left;
        width: 20%;
        text-align: center;
        }
        .menu a{
            background-color: #e5e5e5;
            padding: 8px;
            margin-top: 7px;
            display: block;
            width: 100%;
            color: black;
        }
        .main{
         
            float: left;
            width: 60%;
            padding: 0 20px;
            text-align: justify;
        }
        .right{
           
            float: left;
            width: 20%;
            padding: 15px;
            margin-top: 7px;
            text-align: center;
        }
        .mright{
            float: left;
            width: 40%;
            padding: 5px;
        }
        .mcentre{
            float: left;
            width: 35%;
            padding: 5px;
        }
        .mleft{
           float: right;
            width: 25%;
            padding: 5px;
        }
        @media screen and (max-width:600px){
          .column{
            width: 100%;
          }
          .column1{
            width: 100%;
          }
        }
        @media only screen and (max-width: 620px){
            .menu, .main, .right{
                width: 100%;
            }
        }