body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;

}

.header {
    text-align: center;
    color: white;
    padding: 20px 0;
    background: linear-gradient(to right, #0f0cc4, #2f94fa);
}

main {
    padding: 20px;
}

.details, .guest-list, .rsvp {
    margin-bottom: 20px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #0073e6;
}

form {
    margin-top: 10px;
}

form label {
    display: block;
    margin: 5px 0;
}

form input {
    width: 98%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #0073e6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #005bb5;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
}
